h1 {
  text-align: center;
}
.container {
  background-color: #000;
  border: 1px solid #afafaf;
  max-width: 390px;
  margin: 50px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  color: #fff;
}
.screen {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

h4 {
  text-align: end;
  font-size: 1.5rem;
  margin: 5px 5px 0 0;
}
h3 {
  font-size: 1.7rem;
  margin: 0px 0px 10px 5px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 10px;
  margin: 0 auto;
  padding: 0 5px;
}

.key {
  height: 80px;
  width: 80px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #4d4d4d;
  color: #fff;
  border: none;
  box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
  border-radius: 8px;
}

.key:hover {
  filter: brightness(1.1);
  
}

.key:focus {
 animation: pressBtn 0.3s ease-in-out;
}

.key.col-2 {
  grid-column: 1/3;
  width: 180px;
}

.key.--yellow {
  background-color: #ff9323;
}

.key.--gray-dark {
  background-color: #afafaf;
  color: #2e2e2e;
}

@keyframes pressBtn {
  50% {
    position: relative;
    top: 1px;
  }
  100% {
    position: inherit;
    top: 0;
  }
}